body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
}
nav {
    background-color: #777777;
    height: 30px;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-evenly;
}
.logo-container {
    filler: ;
}
.company-logo {
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    font-size: 26px;
    font-weight: 100;
    display: flex;
    justify-content: left;
    align-items: center;
}
.nav-container {
    height: 20px;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-content: absolute;
}
.nav-links {
    color: white;
    font-size: 12px;
    text-decoration: none;
}
.black-main {
    background-color: black ;
    height: 260px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.attention-getter {
    color: khaki ;
    font-size: 50px;
    font-weight: 700;
    font-stretch: extra-condensed;
    
}
.white-main {
    background-color: white;
    height: 650px;
}
.green-box-container {
    margin: 25px 60px;
    display: flex;
    justify-content: space-between;
}
.green-box {
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
.gold-box-container {
    margin: 25px 60px;
    display: flex;
    justify-content: space-between
}
.gold-box {
    background-color: #fdc357;
    height: 200px;
    width: 350px;
}
.text-img-container {
    margin: 25px 30px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
p {
    height: 90px;
    width: 270px;

    align-content: left;
    font-size: 10px;
}
img  {
    height:140px;
    width: 200px;

    
}
footer {
    background-color: #47405f;
    height: 100px;
    width: 100%;
}
